(
    config: (
        sim_params: (
            gravity: (0.0, -9.81, 0.0),
            time_step: Some(0.0001),
            velocity_clear_frequency: 0.0,
            residual_tolerance: None,
            acceleration_tolerance: Some(0.001),
            velocity_tolerance: None,
            max_iterations: 200,
            linsolve: Direct,
            line_search: AssistedBackTracking(
                c: 0.0001,
                rho: 0.8999999761581421,
            ),
            derivative_test: 3,
            friction_tolerance: 0.001,
            contact_tolerance: 0.001,
            contact_iterations: 5,
            time_integration: SDIRK2,
            preconditioner: ApproximateJacobi,
            log_file: None,
            project_element_hessians: false,
            adaptive_newton: false,
        ),
        materials: [
            Fixed((
                id: 0,
                properties: (),
            )),
            SoftShell((
                id: 1,
                properties: (
                    bending_stiffness: Some(0.012893773),
                    deformable: (
                        elasticity: Some((
                            model: NeoHookean,
                            parameters: BulkShear(
                                bulk: 733333.3,
                                shear: 338461.53,
                            ),
                        )),
                        density: Some(0.54803556),
                        damping: 0.0,
                    ),
                ),
            )),
            Solid((
                id: 2,
                properties: (
                    volume_preservation: false,
                    deformable: (
                        elasticity: Some((
                            model: StableNeoHookean,
                            parameters: BulkShear(
                                bulk: 500000.0,
                                shear: 750000.0,
                            ),
                        )),
                        density: Some(1400.0),
                        damping: 6.0,
                    ),
                ),
            )),
            SoftShell((
                id: 3,
                properties: (
                    bending_stiffness: Some(0.0),
                    deformable: (
                        elasticity: Some((
                            model: NeoHookean,
                            parameters: BulkShear(
                                bulk: 0.0,
                                shear: 0.0,
                            ),
                        )),
                        density: Some(0.0),
                        damping: 0.0,
                    ),
                ),
            )),
        ],
        frictional_contacts: [
            ((
                kernel: Approximate(
                    radius_multiplier: 1.0,
                    tolerance: 0.000009999999747378752,
                ),
                contact_offset: 0.0,
                use_fixed: false,
                friction_params: Some((
                    dynamic_friction: 1.0,
                    friction_profile: Quadratic,
                    lagged: true,
                )),
            ), (0, 1)),
        ],
        volume_zones: (
            zone_pressurizations: [
                0.0,
            ],
            compression_coefficients: [
                0.0,
            ],
            hessian_approximation: [
                false,
            ],
        ),
    ),
    scene: (
        mesh_topo: (
            indices: [
                [
                    6,
                    8,
                    1,
                    3,
                    6,
                    3,
                    2,
                    8,
                    5,
                    7,
                    8,
                    4,
                    0,
                    3,
                    1,
                    8,
                    8,
                    5,
                    0,
                    2,
                    2,
                    3,
                    0,
                    8,
                    8,
                    2,
                    7,
                    5,
                    8,
                    6,
                    7,
                    2,
                    8,
                    1,
                    0,
                    5,
                    8,
                    7,
                    6,
                    4,
                    8,
                    5,
                    4,
                    1,
                    8,
                    6,
                    1,
                    4,
                ],
                [
                    2,
                    0,
                    5,
                    5,
                    7,
                    2,
                    9,
                    10,
                    11,
                    9,
                    11,
                    12,
                    9,
                    12,
                    13,
                    9,
                    13,
                    14,
                    9,
                    14,
                    10,
                    10,
                    14,
                    15,
                    14,
                    13,
                    16,
                    13,
                    12,
                    17,
                    12,
                    11,
                    18,
                    11,
                    10,
                    19,
                    10,
                    15,
                    19,
                    14,
                    16,
                    15,
                    13,
                    17,
                    16,
                    12,
                    18,
                    17,
                    11,
                    19,
                    18,
                    20,
                    19,
                    15,
                    20,
                    18,
                    19,
                    20,
                    17,
                    18,
                    20,
                    16,
                    17,
                    20,
                    15,
                    16,
                ],
            ],
            types: [
                Tetrahedron,
                Triangle,
            ],
            vertex_attributes: {
                "ref": F32x3([
                    (0.0, -0.025, 0.025),
                    (-0.004, -0.025, 0.025),
                    (0.0, 0.025, 0.025),
                    (-0.004, 0.025, 0.025),
                    (-0.004, -0.025, -0.025),
                    (0.0, -0.025, -0.025),
                    (-0.004, 0.025, -0.025),
                    (0.0, 0.025, -0.025),
                    (-0.0016284678, -0.0046430957, -0.010178091),
                    (0.0, 0.0, -0.02),
                    (-0.008944273, 0.015491936, -0.008944263),
                    (0.0119697675, 0.013293788, -0.008944264),
                    (0.016342001, -0.0072759283, -0.008944265),
                    (-0.0018698629, -0.017790552, -0.008944265),
                    (-0.017497642, -0.0037192297, -0.008944264),
                    (-0.016342001, 0.0072759283, 0.008944265),
                    (-0.0119697675, -0.013293788, 0.008944264),
                    (0.008944273, -0.015491936, 0.008944263),
                    (0.017497642, 0.0037192297, 0.008944264),
                    (0.0018698629, 0.017790552, 0.008944265),
                    (0.0, 0.0, 0.02),
                ]),
                "vel": F64x3([
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (-6.402032375335693, -2.5608129501342773, 0.0),
                    (-21.076831817626953, -10.152265548706055, 0.0),
                    (-18.15671157836914, 9.04985523223877, 0.0),
                    (1.0079894065856934, 12.206438064575195, 0.0),
                    (9.932279586791992, -5.044817924499512, 0.0),
                    (-3.7168989181518555, -18.863269805908203, 0.0),
                    (-13.812053680419922, -17.32806396484375, 0.0),
                    (5.352646350860596, -14.171481132507324, 0.0),
                    (8.27276611328125, 5.0306396484375, 0.0),
                    (-9.087165832519531, 13.741644859313965, 0.0),
                    (-22.736345291137695, -0.07680797576904297, 0.0),
                    (-6.402032375335693, -2.5608129501342773, 0.0),
                ]),
                "fixed": I32([
                    0,
                    1,
                    0,
                    1,
                    1,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                ]),
            },
            cell_attributes: {
                "mtl_id": I32([
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    3,
                    3,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                ]),
                "obj_id": I32([
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    0,
                    0,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                    1,
                ]),
            },
        ),
        animation: [
            (
                frame: 0,
                positions: [
                    (0.0, -0.02500000037252903, 0.02500000037252903),
                    (-0.004000000189989805, -0.02500000037252903, 0.02500000037252903),
                    (0.0, 0.02500000037252903, 0.02500000037252903),
                    (-0.004000000189989805, 0.02500000037252903, 0.02500000037252903),
                    (-0.004000000189989805, -0.02500000037252903, -0.02500000037252903),
                    (0.0, -0.02500000037252903, -0.02500000037252903),
                    (-0.004000000189989805, 0.02500000037252903, -0.02500000037252903),
                    (0.0, 0.02500000037252903, -0.02500000037252903),
                    (-0.0016284678131341934, -0.0046430956572294235, -0.010178091004490852),
                    (0.017999999225139618, 0.0, -0.019999999552965164),
                    (0.0090557262301445, 0.015491936355829239, -0.008944262750446796),
                    (0.02996976673603058, 0.013293787837028503, -0.008944263681769371),
                    (0.034341998398303986, -0.0072759282775223255, -0.008944264613091946),
                    (0.01613013632595539, -0.017790552228689194, -0.008944264613091946),
                    (0.0005023572593927383, -0.003719229716807604, -0.008944263681769371),
                    (0.001657998189330101, 0.0072759282775223255, 0.008944264613091946),
                    (0.006030231714248657, -0.013293787837028503, 0.008944263681769371),
                    (0.026944272220134735, -0.015491936355829239, 0.008944262750446796),
                    (0.03549764305353165, 0.003719229716807604, 0.008944263681769371),
                    (0.019869862124323845, 0.017790552228689194, 0.008944264613091946),
                    (0.017999999225139618, 0.0, 0.019999999552965164),
                ],
            ),
        ],
    ),
)
