(
    config: (
        sim_params: (
            gravity: (0.0, -9.81, 0.0),
            time_step: Some(0.0001),
            velocity_clear_frequency: 0.0,
            residual_tolerance: None,
            acceleration_tolerance: Some(0.001),
            velocity_tolerance: None,
            max_iterations: 200,
            //linsolve: Direct,
            linsolve: Iterative(
                tolerance: 0.1,
                max_iterations: 20,
            ),
            line_search: AssistedBackTracking(
                c: 0.0001,
                rho: 0.9,
            ),
            derivative_test: 3,
            friction_tolerance: 0.001,
            contact_tolerance: 0.001,
            contact_iterations: 5,
            time_integration: BE,
            preconditioner: None,
            log_file: None,
        ),
        materials: [
            Fixed((
                id: 0,
                properties: (),
            )),
            SoftShell((
                id: 1,
                properties: (
                    bending_stiffness: Some(0.012893773),
                    deformable: (
                        elasticity: Some((
                            model: NeoHookean,
                            parameters: BulkShear(
                                bulk: 733333.3,
                                shear: 338461.53,
                            ),
                        )),
                        density: Some(0.54803556),
                        damping: 0.0,
                    ),
                ),
            )),
            Solid((
                id: 2,
                properties: (
                    volume_preservation: false,
                    deformable: (
                        elasticity: Some((
                            model: StableNeoHookean,
                            parameters: BulkShear(
                                bulk: 500000.0,
                                shear: 750000.0,
                            ),
                        )),
                        density: Some(1400.0),
                        damping: 6.0,
                    ),
                ),
            )),
            SoftShell((
                id: 3,
                properties: (
                    bending_stiffness: Some(0.0),
                    deformable: (
                        elasticity: Some((
                            model: NeoHookean,
                            parameters: BulkShear(
                                bulk: 0.0,
                                shear: 0.0,
                            ),
                        )),
                        density: Some(0.0),
                        damping: 0.0,
                    ),
                ),
            )),
        ],
        frictional_contacts: [
            ((
                kernel: Approximate(
                    radius_multiplier: 1.0,
                    tolerance: 0.000009999999747378752,
                ),
                contact_type: Point,
                contact_offset: 0.0,
                use_fixed: false,
                friction_params: None,
            ), (0, 1)),
        ],
        volume_zones: (
            zone_pressurizations: [
                0.0,
            ],
            compression_coefficients: [
                0.0,
            ],
            hessian_approximation: [
                false,
            ],
        ),
    ),
    scene: (
        mesh_topo: (
            indices: [
                [
                    6,
                    8,
                    1,
                    3,
                    6,
                    3,
                    2,
                    8,
                    5,
                    7,
                    8,
                    4,
                    0,
                    3,
                    1,
                    8,
                    8,
                    5,
                    0,
                    2,
                    2,
                    3,
                    0,
                    8,
                    8,
                    2,
                    7,
                    5,
                    8,
                    6,
                    7,
                    2,
                    8,
                    1,
                    0,
                    5,
                    8,
                    7,
                    6,
                    4,
                    8,
                    5,
                    4,
                    1,
                    8,
                    6,
                    1,
                    4,
                ],
                [
                    2,
                    0,
                    5,
                    5,
                    7,
                    2,
                    11,
                    12,
                    9,
                    12,
                    10,
                    9,
                    10,
                    11,
                    9,
                    12,
                    11,
                    10,
                ],
            ],
            types: [
                Tetrahedron,
                Triangle,
            ],
            vertex_attributes: {
                "vel": F64x3([
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (0.0, 0.0, 0.0),
                    (-18.4384822845459, -27.518386840820313, 0.0),
                    (21.140323638916016, -5.589790344238281, 0.0),
                    (-14.155059814453125, 11.432332038879395, 0.0),
                    (-14.155059814453125, 11.432332038879395, 0.0),
                ]),
                "fixed": I32([
                    0,
                    1,
                    0,
                    1,
                    1,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                ]),
                "ref": F32x3([
                    (0.0, -0.025, 0.025),
                    (-0.004, -0.025, 0.025),
                    (0.0, 0.025, 0.025),
                    (-0.004, 0.025, 0.025),
                    (-0.004, -0.025, -0.025),
                    (0.0, -0.025, -0.025),
                    (-0.004, 0.025, -0.025),
                    (0.0, 0.025, -0.025),
                    (-0.0016284678, -0.0046430957, -0.010178091),
                    (-0.027594645, 0.011770113, 0.0),
                    (-0.0018988689, -0.029939843, 0.0),
                    (0.014746607, 0.009084929, 0.024494927),
                    (0.014746607, 0.009084929, -0.024494927),
                ]),
            },
            cell_attributes: {
                "obj_id": I32([
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    0,
                    0,
                    1,
                    1,
                    1,
                    1,
                ]),
                "mtl_id": I32([
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    2,
                    3,
                    3,
                    1,
                    1,
                    1,
                    1,
                ]),
            },
        ),
        animation: [
            (
                frame: 0,
                positions: [
                    (0.0, -0.02500000037252903, 0.02500000037252903),
                    (-0.004000000189989805, -0.02500000037252903, 0.02500000037252903),
                    (0.0, 0.02500000037252903, 0.02500000037252903),
                    (-0.004000000189989805, 0.02500000037252903, 0.02500000037252903),
                    (-0.004000000189989805, -0.02500000037252903, -0.02500000037252903),
                    (0.0, -0.02500000037252903, -0.02500000037252903),
                    (-0.004000000189989805, 0.02500000037252903, -0.02500000037252903),
                    (0.0, 0.02500000037252903, -0.02500000037252903),
                    (-0.0016284678131341934, -0.0046430956572294235, -0.010178091004490852),
                    (0.002405354753136635, 0.011770113371312618, 0.0),
                    (0.028101131319999695, -0.029939843341708183, 0.0),
                    (0.044746607542037964, 0.009084928780794144, 0.024494927376508713),
                    (0.044746607542037964, 0.009084928780794144, -0.024494927376508713),
                ],
            ),
        ],
    ),
)
